.chatPage{
    background-color: rgb(43, 41, 41);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatContainer{
    background-color: white;
    height: 50%;
    width: 50%;
}

.header{
    background-color: crimson;
    height: 15%;
}

.chatBox{
    border: 0.2vmax solid black;
    height: 70%;
    box-sizing: border-box;
}

.inputBox{
    height: 15%;
    box-sizing: border-box;
    display: flex;
}

#chatInput{
    width: 80%;
    border: none;
    padding: 2vmax;
    box-sizing: border-box;
    background-color: white;
    outline: none;
    font-size: 1.2vmax;
}

.sendBtn{
    background-color: crimson;
    color: white;
    border: none;
    width: 20%;
    transition: all 0.3s;
    cursor: pointer;
}

.sendBtn:hover{
    background-color: rgb(255, 0, 51);
}